body {
    font-family: Arial, sans-serif;
    background-color: #12a4ee9c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.rate, .balance {
    margin: 20px 0;
}

#btc-rate, #usd-balance {
    font-size: 1.5em;
    color: #28a745;
}

input[type="number"] {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Quiz Section */
.quiz {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    
}

.quiz h2 {
    color: #333;
}

#question-container {
    margin-bottom: 10px;
}

.quiz-option {
    display: block;
    padding: 10px;
    margin: 5px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.quiz-option:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 10px;
    font-size: 1.2em;
    color: #28a745;
}
.news {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news h2 {
    color: #333;
    margin-bottom: 10px;
}

#news-list {
    list-style-type: none;
    padding: 0;
}

#news-list li {
    background-color: #e9ecef;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 0.9em;
}

#news-list li a {
    text-decoration: none;
    color: #007bff;
}

#news-list li a:hover {
    text-decoration: underline;
}
